<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

<title>Free Code Camp Nitelife App</title>

<%- include css-includes %>


<%- include navbar %>

<div class="row top-10-down container-fluid">
	<div class="container-fluid col-lg-10 col-xs-12 col-lg-offset-1 bg-white box-shadow">
		<div class="row bg-primarycontainer-fluid"><h1>Free Code Camp Voting App</h1></div>
			<% if (user) { %>
				<h2>Select a poll to see the results and vote, or create a new poll.</h2>
			<% } else { %>
				<h2>Select a poll to see the results and vote, or sign-in to create a new poll.</h2>
			<% } %>	
			
			<div class="well">
				<div id="poll-list" class="container-fluid">
				</div>
				<% if (user) { %>
					<button class="btn btn-success btn-block" id="create-poll">Create New Poll</button>
					<button class="btn btn-block" id="my-polls">My Polls</button>
				<% } %>	
			</div>
	</div>
</div>

<%- include script-includes %>


