<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

<title>Free Code Camp Backend Development Projects</title>

<%- include css-includes %>


<%- include navbar %>


<div class="row top-10-down ">
	<div class="container-fluid col-lg-4 col-xs-10 col-lg-offset-4 col-xs-offset-1 bg-white box-shadow">
		<div class="row bg-primary"><h1>Sign In</h1></div>
			
			<div class="row">
				<form action="/auth/facebook">
					<button class="btn btn-primary btn-fb" type="submit"><i class="fa fa-facebook" aria-hidden="true"></i> Sign in with Facebook</button>
				</form>
			</div>
			
	</div>
</div>


<%- include script-includes %>


