<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

<title>Free Code Camp Backend Development Projects</title>

<%- include css-includes %>


<%- include navbar %>


<div class="row top-10-down ">
	<div class="container-fluid col-lg-4 col-xs-10 col-lg-offset-4 col-xs-offset-1 bg-white box-shadow">
		<div class="row bg-primary"><h1>Privacy Policy</h1></div>
			
			<div class="row">
				<form action="/auth/facebook">
					<p>This is a test application, so the only thing that is getting logged is the user ID that Facebook associates to your passed login credentials. To remove it, just check out of any checked in locations.</p>
				</form>
			</div>
			
	</div>
</div>


<%- include script-includes %>


